<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="intro" class="header-container full-screen">
  <header class="wrapper">
    <h1 class="title">Intro Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos incidunt eum excepturi aliquid veritatis, rerum
      maxime similique quis itaque quia expedita ab repellendus natus ex soluta, sed minima ea facere.</p>
  </header>
  <span class="scroll-hint"> <a href="#slide01" class="button">Scroll Down</a></span>
</div>
<nav>
  <ul>
    <li><a href="#intro"><span class="nav-dot"></span><span class="nav-label">Intro</span></a></li>
    <li><a href="#slide01"><span class="nav-dot"></span><span class="nav-label">Slide One</span></a></li>
    <li><a href="#slide02"><span class="nav-dot"></span><span class="nav-label">Slide Two</span></a></li>
    <li><a href="#slide03"><span class="nav-dot"></span><span class="nav-label">Slide Three</span></a></li>
    <li><a href="#slide04"><span class="nav-dot"></span><span class="nav-label">Slide Forth</span></a></li>
  </ul>
</nav>
<div id="main-container">
  <div class="main-container">
    <article id="slide01" class="slide full-screen">
      <div class="wrapper">
        <header>
          <h1 class="slideInUp">ScrollMagic Controller 1</h1>
        </header>
        <sesction>
          <h2 class="slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae dignissimos illo
            nostrum voluptate inventore eligendi dicta, vitae recusandae, ipsum perspiciatis aliquid soluta, nihil odit
            necessitatibus voluptatum officiis nemo quo.</h2>
          <p class="slideInUp"><a href="#slide02" class="button">Next</a></p>
        </sesction>
      </div>
    </article>
    <article id="slide02" class="slide full-screen">
      <div class="wrapper">
        <header>
          <h1 class="slideInUp">ScrollMagic Controller 2</h1>
        </header>
        <sesction>
          <h2 class="slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae dignissimos illo
            nostrum voluptate inventore eligendi dicta, vitae recusandae, ipsum perspiciatis aliquid soluta, nihil odit
            necessitatibus voluptatum officiis nemo quo.</h2>
          <p class="slideInUp"><a href="#slide03" class="button">Next</a></p>
        </sesction>
      </div>
    </article>
    <article id="slide03" class="slide full-screen">
      <div class="wrapper">
        <header>
          <h1 class="slideInUp">ScrollMagic Controller 3</h1>
        </header>
        <sesction>
          <h2 class="slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae dignissimos illo
            nostrum voluptate inventore eligendi dicta, vitae recusandae, ipsum perspiciatis aliquid soluta, nihil odit
            necessitatibus voluptatum officiis nemo quo.</h2>
          <p class="slideInUp"><a href="#slide04" class="button">Next</a></p>
        </sesction>
      </div>
    </article>
    <article id="slide04" class="slide full-screen">
      <div class="wrapper">
        <header>
          <h1 class="slideInUp">ScrollMagic Controller 4</h1>
        </header>
        <sesction>
          <h2 class="slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae dignissimos illo
            nostrum voluptate inventore eligendi dicta, vitae recusandae, ipsum perspiciatis aliquid soluta, nihil odit
            necessitatibus voluptatum officiis nemo quo.</h2>
          <p class="slideInUp"><a href="#intro" class="button">Next</a></p>
        </sesction>
      </div>
    </article>
  </div>
</div>
